@import url("https://fonts.googleapis.com/css2?family=Space+Mono");

* {
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	font-family: "Space Mono", monospace;
}

:root {
	--grey: hsl(215, 27.9%, 16.9%);
	--white: rgb(255, 255, 255);
	--green: hsl(142, 76.2%, 36.3%);
	--lightgrey: hsl(220, 14.3%, 95.9%);
}

body {
	background: var(--grey);
	color: #fff;
}

.subsection-one {
	display: grid;
	grid-template-columns: repeat(
		12,
		1fr
	);
	padding: 16px 20px;
}

.subsection-two {
	grid-column-start: 1;
	grid-column-end: 13;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	gap: 24px;
}

header h1 {
	font-size: 1.5em;
}

header a {
	background: var(--green);
	color: var(--white);
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
}

.two-matrix {
	padding-block: 60px 30px;
}

.two-matrix .determinant {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;
	gap: 24px;
}

.two-matrix .determinant strong {
	font-size: 1.2em;
	text-align: center;
}

.two-matrix .determinant div {
	display: grid;
	grid-template-columns: 48px 48px;
	grid-gap: 24px;
	place-items: center;
}

.two-matrix .determinant div input {
	width: 48px;
	height: 48px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
	border-radius: 4px;
}

.two-matrix .determinant button {
	background: var(--green);
	color: var(--white);
	padding: 10px;
	border-radius: 5px;
	font-size: 1em;
	text-align: center;
}

@media screen and (min-width: 768px) {
	.subsection-two {
		grid-column-start: 2;
		grid-column-end: 12;
	}
}
